html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  /* text-align: center; */
  /* background-color: #673ab8; */
  /* color: #fff; */
  font-size: 1.5em;
  /* padding-top: 100px; */
}

.button {
  display: inline-block;
  width:100px;
  height:50px;
  background:#ccc;
  border-radius:10px;
  text-align:center;
  margin: 0 10px;
}
